#container-header {
  padding: 50px 40px 0px 5px;
}

.wrapper .title {
  display: block;
}

.wrap_dir .dir {
  margin-bottom: 1em;
  height: 90px;
  overflow: hidden;
  background: #a0c2ff;  /* Old browsers */
  background: -moz-linear-gradient(top, #a0c2ff 0%, #d2e0fa 100%);  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0c2ff), color-stop(100%, #d2e0fa));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0c2ff 0%, #d2e0fa 100%);  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0c2ff 0%, #d2e0fa 100%);  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0c2ff 0%, #d2e0fa 100%);  /* IE10+ */
  background: linear-gradient(to bottom, #a0c2ff 0%, #d2e0fa 100%);  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0c2ff', endColorstr='#d2e0fa',GradientType=0 );  /* IE6-9 */
}

.dir a {
  text-align: center;
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 3.7;
}

.dir a:hover,
.dir a:active,
.dir a:focus {
  text-decoration: none;
  background: #a0c2ff;
}

.wrap_dir.no-projects {
  display: none;
}

.wrap_dir.no-projects a {
  color: red;
  cursor: default;
}

.wrapper .footer {
  font-size: .85em;
  color: #aeaeae;
}

.pc-window {
  margin: 0;
  padding: 0;
  width: 94.2%;
}

.pc-window .col-sm-12 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.pc-window .col-sm-8 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.pc-window .col-sm-6 {
  width: 45%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}